body {
  padding-top: calc(.5rem + 1rem + 30px);
  padding-bottom: 30px;
}

.c1{ background: #a9c700; }
.c2{ background: #547e29; }
.c3{ background: #006431; }

.navbar-brand>span{
  font-size: medium;
  opacity: 0.5;
  top: -1px;
  position: relative;
}

.card-header[data-toggle="collapse"]{
  cursor: pointer;
}

footer a{  
  color: #a9c700;
}

footer a:hover{  
    color: #006431;
  }
        
/* Aggressive reset to remove the initial spinner */
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance:none;
  margin: 0;
}
input[type="number"]:hover::-webkit-inner-spin-button,
input[type="number"]:hover::-webkit-outer-spin-button {
 -moz-appearance: none;
  -webkit-appearance: none;
  appearance:none;
  margin:0;
}

.gr-box *{margin:0;border:0;padding:0;background:rgba(0,0,0,0);cursor:default;}
.gr-top, .gr-bottom, .grf-indent>.alink, br, .gr1, .gr2, .gr3 {display:none;}
.gr-box{ z-index: 5; }

.headerbox{
    width: 500px;
    margin: auto;
    color: white;
    font-size: 16px;
    font-family: Lucida Console;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px -1px #9F9F9F;
}

.carouselbox{ 
    height: 300px;
    width: 500px;
    margin: auto;
    overflow: hidden;
    position: relative;
    background: rgba(0,0,0,0.1);
    border-width: 2px 0;
    border-color: white;
    border-style: solid;
}

.carouselframe{
    top: 0;
    left: 0;
    position: absolute;
    transition: left 5s linear 360s;
    -moz-transition:left 5s linear 360s;
    -webkit-transition:left 5s linear 360s;
    -ms-transition:left 5s linear 360s;
    -o-transition:left 5s linear 360s;
}

.carouselframe a{
    float: left;
}

.carouselframe img{
    height: 300px;
    margin-left: 10px;
    opacity: 0.8;
}

.carouselframe img:hover{
    opacity: 1;
}

.scrollsides{
    position: absolute;
    height: 40px;
    width: 50%;
    background: rgba(0,0,0,0.25);
    bottom: 0;
    opacity: 0.5;
    z-index: 5;
}

.scrollsides:hover{
    opacity: 1;
}

.aleft{
    left: 0;
}

.aright{
    right: 0;
}

.aleft:hover ~ .carouselframe{
    left: -1px;
}

.aleft:after, .aright:after{    
    position: relative;
    top: 10px;
    left: 115px;
    display: block;
    content: "";
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.aleft:after { border-right:20px solid rgba(255,255,255,0.75); }
.aright:after { border-left:20px solid rgba(255,255,255,0.75); }

.aleft:hover ~ .carouselframe, .aright:hover ~ .carouselframe{
    transition: left 4s linear;
    -moz-transition:left 4s linear;
    -webkit-transition:left 4s linear;
    -ms-transition:left 4s linear;
    -o-transition:left 4s linear;
}

.carouselframe img, .scrollsides{    
    cursor: pointer;
    transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
    -webkit-transition: opacity 0.25s linear;
    -ms-transition: opacity 0.25s linear;
    -o-transition: opacity 0.25s linear;
}